body {
}


.name-banner {
    background: black;
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex: 0 0 35%;
}

.name-banner__text {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2.5rem;
    letter-spacing: 4px;
    font-weight: 500;
    margin-top: 128px;
    border: 3px solid white;
    align-self: flex-start;
}

.name-banner__text > div {
    padding: 8px 32px;
}

.name-banner__profile {
    position: absolute;
    max-width: 100%;
    width: 380px;
    height: auto;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.about {
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    flex: 1 1 auto;
}

.about__image {
    display: none;
    max-width: 500px;
    margin: 32px;
    height: auto;
}

.about__text  {
    max-width: 400px;
    text-align: center;
    font-size: 2rem;
}

.about-container {
    display: flex;

}

@media (max-width: 1000px) {
    .name-banner {
        display: none;
    }

    .about-container {
        justify-content: center;
    }

    .about__image {
        display: block;
    }

}
